<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Annotation Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div id="imageContainer">
    <canvas id="annotationCanvas"></canvas>
</div>

<div>
  <form id="polygonsForm">   
      <button id="submitPolygonsBtn" onclick="submitPolygons()">Save</button>
      <button id="predictBtn" onclick="predictFunction()">Predict</button>
  </form>
  <!--button id="changeUrlBtn">new-page</button-->

</div>
    <script>
        // Embed Python 'polygons' and 'cur_dir' variable into JavaScript using Jinja2

        let polygons = {{ polygons | tojson }};
        console.log(polygons);  // Debug to check if polygons are loading correctly
        polygons.push({points: [], label: ''}); // Initialize new polygon

        // Set the path for the image (adjust this path as necessary)
        const imagePath = "{{ url_for('static', filename='001/image.jpg') }}";
    </script>
    <!--img id="testImage" src="{{ url_for('static', filename='001/image.jpg') }}" alt="Test Image"-->

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    

</body>
</html>
